
@{
    ViewBag.Title = "BuscarDocumentosPorFecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<div class="container">
    <br>
    <h3>Buscar Documentos</h3>
    <hr class="style-three" />
    <br />

    <div class="container col-md-12 col-xs-12">
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Courier Notificadora</label>
            <div class="col-sm-8">
                <select id="selectSede" class="js-example-placeholder-single js-example-responsive form-control">
                    <option disabled selected>--Seleccione--</option>
                    <option>Empresa Mapresa</option>
                    <option>Olva</option>
                    <option>Juan Benito</option>
                    @*@foreach (var Sede in ListarSede)
                        {
                            <option value="@Sede.Id_Sede">@Sede.Sede_Descripcion</option>
                        }*@
                </select>
            </div>
            <div class="form-group col-md-2 col-xs-2">
                @* <button type="button" class="btn btn-primary" style="width:34px"><strong>Aceptar</strong></button>*@
                @*<button type="button" class="button_Registrar" style=" width: 130px; height: 35px;" onclick="@("window.location.href='"+Url.Action("Registro","home")+"'");"><span><strong>Aceptar</strong></span></button>*@
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Fecha de notificacion</label>
            <div class="col-sm-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="fechaInicio">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="fechaFin">
                </div>
            </div>
            <!-- /.input group -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <button type="button" class="btn btn-primary form-control" onclick="BuscarFechas()"><span><strong>BUSCAR</strong></span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
</div>

<div class="container">
    <div id="encabezadoTable" style="display: none">
        <div class="table-responsive">
            <table id="detalle" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Fecha</th>
                        <th>Courier</th>
                    </tr>
                </thead>
                <tbody id="set_dataFecha"></tbody>
            </table>
            @*<button type="button" class="btn btn-primary form-control" id="btnRegistrar"><span><strong>REGISTRAR</strong></span></button>*@
        </div>
    </div>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



@section scriptsBuscarDocFecha {

<script>
        $(document).ready(function () {
            //        var $j = jQuery.noConflict(); en caso de haber conflicto, cambiamos el '$' por '$j'
            $('#fechaInicio').datepicker({
                todayBtn: "linked",
                language: "it",
                autoclose: true,
                todayHighlight: true,
                format: 'mm/dd/yyyy'
            });
            $('#fechaFin').datepicker({
                todayBtn: "linked",
                language: "it",
                autoclose: true,
                todayHighlight: true,
                format: 'mm/dd/yyyy'
            });
        });

         function BuscarFechas() {

             if ($("#fechaInicio").val() == "") {
                 toastr.error("Ingrese Fecha inicio", "Campos Incompletos");
                 $("#fechaInicio").focus();
                 return;
             }
             if ($("#fechaFin").val() == "") {
                 toastr.error("Ingrese Fecha fin", "Campos Incompletos");
                 $("#fechaFin").focus();
                 return;
             }
            var parameters = { 'fechaInicio': $("#fechaInicio").val(), 'fechaFin': $("#fechaFin").val() }
            console.log(parameters)

            $.ajax({
                data: parameters,
                type: "GET",
                dataType: "json",
                url: '@Url.Action("BuscarHojaPorFechas", "Home")',
                success: function (data) {
                    $("#encabezadoTable").show("slow");
                    console.log(data);
                    var setData = $('#set_dataFecha');
                    $.each(data, function (i, item) {
                        console.log(item);
                        var tr = "<tr>" +
                            "<td>" + item.Id + "</td>" +
                            "<td>" + item.Fecha + "</td>" +
                            "<td>" + item.Nombre + "</td>" +
                            "</tr>";
                        console.log(tr);
                        setData.append(tr);
                    });

                    if (data=="error") {
                        toastr.error("No se encuentra numero de sisgedo", "Error");
                    }
                    
                },
                error: function (e) {
                    console.log(e);
                },
            });
         }
</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
}