
@{
    ViewBag.Title = "RegistrarFechaDeNotificacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<div class="container">
    <br>
    <h4>REGISTRAR FECHA DE NOTIFICACION</h4>
    <hr />
    <br />

    <div class="container">
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Cod. de Sisgedo</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="num_sisgedo">
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-success " onclick="btnBuscar()"><strong>Buscar</strong></button>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Num. de Documento</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="num_doc" readonly>
            </div>
            <label for="" class="col-sm-1 col-form-label">Folios</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="fol" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Asunto</label>
            <div class="col-sm-8">
                <textarea type="text" class="form-control " id="asunto" rows="1" readonly></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Firma</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="firma" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Destino</label>
            <div class="col-sm-8">
                <select type="text" class="form-control" id="SelectDestino">
                    <option selected="selected">--Seleccione--</option>
                </select>
                

            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Fecha de notificacion</label>
            <div class="col-sm-4">
                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="datepicker">
                </div>
            </div>
        </div>
        <!-- #boton registrar -->
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3 col-xs-12 col-sm-12"></div>
                            <div class="col-md-6 col-xs-12 col-sm-12">
                                <button type="button" class="btn btn-primary form-control" onclick="btnAgregarFecha()"><span><strong>AGREGAR</strong></span></button>
                            </div>
                            <div class="col-md-3 col-xs-12 col-sm-12"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <br />
</div>

<br />
<br />
    
@section scriptsRegistrarFecha {

    <script>
        $(document).ready(function () {
            //        var $j = jQuery.noConflict(); en caso de haber conflicto, cambiamos el '$' por '$j'
            $('#datepicker').datepicker({
                todayBtn: "linked",
                language: "it",
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });
        });
    </script>

    <script>
        function btnBuscar() {

            if ($("#num_sisgedo").val().trim() == "") {
                toastr.error("Ingrese número de sisgedo", "Campos Incompletos");
                $("#num_sisgedo").focus();
                return;
            }
            if (isNaN($("#num_sisgedo").val())) {
                toastr.error("Ingrese solo números", "Error");
                $("#num_sisgedo").focus();
                return;
            }

            $.ajax({
                data: { num_sisgedo: $("#num_sisgedo").val().trim() },
                type: "GET",
                dataType: "json",
                url: '@Url.Action("BuscarNumSisgedo", "Home")',
                beforeSend: function () {
                    $('#loading').show();
                },
                success: function (data) {
                    if (data == "null") {
                        toastr.error("No se encuentra el numero de sisgedo", "Error");
                    }
                    $('#id_doc').val(data.Id);
                    $('#num_doc').val(data.NumeroDocumento);
                    $('#asunto').val(data.Asunto);
                    $('#fol').val(data.Fol);
                    $('#firma').val(data.Firma);
                },
                complete: function (data) {
                    // Hide image container
                    $("#loading").hide();
                }
            });

            $.ajax({
                data: { num_sisgedo: $("#num_sisgedo").val() },
                type: "GET",
                dataType: "json",
                url: '@Url.Action("BuscarDestinos", "Home")',
                beforeSend: function () {
                    $('#loading').show();
                },
                success: function (data) {
                    $("#SelectDestino").html('');
                    if (data.length > 0) {
                        $.each(data, function (index, row) {
                            $("#SelectDestino").append("<option value='" + row.Id + "'>" + row.NombreDestino + "</option>")
                        });
                    } else {
                        $("#SelectDestino").append("<option value = '0'>No hay datos que mostrar</option>")
                    }
                    
                    $("#SelectDestino option:selected").trigger("change");
                },
                complete: function (data) {
                    // Hide image container
                    $("#loading").hide();
                }
            });
        }

        function LimpiarControles() {
            $("#num_sisgedo").val(null);
            $("#num_doc").val(null);
            $("#asunto").val(null);
            $("#fol").val(null);
            $("#firma").val(null);
            $("#SelectDestino").html('');
            $("#datepicker").val(null);
        }

        function btnAgregarFecha() {

            if ($("#num_sisgedo").val() == "") {
                toastr.error("Complete todos los campos porfavor", "Campos Incompletos");
                $("#num_sisgedo").focus();
                return;
            }
            if ($("#datepicker").val() == "") {
                toastr.error("Complete todos los campos porfavor", "Campos Incompletos");
                $("#datepicker").focus();
                return;
            }
            if ($("#num_doc").val() == "") {
                toastr.error("Complete todos los campos porfavor", "Campos Incompletos");
                $("#num_sisgedo").focus();
                return;
            }

            var des = $("#SelectDestino option:selected").val();
            if (des == 0) {
                console.log(des);
                toastr.error("No hay ningun destino seleccionado", "Campos Incompletos");
                $("#num_sisgedo").focus();
                return;
            }

            var selectDestino = $("#SelectDestino option:selected").val();

            var date = $("#datepicker").val();

            var parameters = { 'destino': selectDestino, 'date': date }
            console.log(parameters);

             $.ajax({
                url: '@Url.Action("registrarFechaNotificacion", "Home")',
                data: parameters,
                type: "POST",
                //contentType: 'application/json;charset=UTF-8',
                //dataType: 'json',
                success: function (response) {
                    if (response == "success") {
                        Swal.fire({
                        type: 'success',
                        title: 'Se registro con éxito!',
                        showConfirmButton: false,
                        timer: 1500
                        }).then((result) => {
                            LimpiarControles()
                        });                                    //Limpiamos el formulario actual
                    }
                },
                error: function (error) {
                    console.log(error);
                }
             });
        }
    </script>
}